{{ partial "header.html" . }}
{{ $authors := .Site.Data.author }}
  <section id="content" role="main">
    <section class="entry-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <article>
              {{ $author_name := index .Params.authors 0 | urlize }}
              {{ $author := index $authors $author_name }}
              <h1 class="blog-post-title">{{ .Title }}</h1>
              <p class="blog-post-meta">{{ .Date.Format "Jan 2, 2006" }} by <a href="#author-bio">{{ $author.name }}</a></p>
              <img alt="" src="{{ .Params.image }}"/>
                {{ .Content }}
              </article>
              <p><strong>Tags</strong></p>
              <div class="tags">
                <div class="category"><a href="/categories/{{ .Params.categories }}">{{ .Params.categories }}</a></div>
                {{ range .Params.tags}}
                  <div class="tag"><a href="/tags/{{ . }}">{{ . }}</a></div>
                {{ end }}
              </div>
            </div>
            <div class="row" id="author-bio">
              <!--hr style="width:100%;border-bottom:1px solid #ccc"></hr-->
              <div class="col-sm-2">
                <div class="circle-avatar" style="background-image:url({{ $author.image }})"></div>
              </div>
              <div class="col-sm-10" style="margin:0 0 50px 0">
                <h3>{{ $author.name }}</h3>
                <p>{{$author.bio | markdownify }}</p>
                <h5><a href="/authors/{{ $author_name }}">Browse their articles</a></h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            {{ partial "sidebar.html" . }}
            {{ partial "twitter.html" . }}
            {{ partial "toplinks.html" . }}
            {{ partial "reddit.html" . }}
          </div>
        </div>
      </div>
    </section>
  </section>
<script>
/* add bootstrap css classes to tables */
var tables, i;
tables = document.getElementsByTagName('table');
for (i=0;i<tables.length;i++) {
  tables[i].className = 'table table-striped';
}
</script>
{{ partial "footer.html" . }}
