{{ partial "header.html" . }}
  <section id="content" role="main">
    <section class="entry-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <article>
            <h1 class="blog-post-title">{{ .Title }}</h1>
            <p class="blog-post-meta">{{ .Date.Format "Jan 2, 2006" }} by <a href="/authors/{{ index .Params.authors 0 | urlize }}">{{ index .Params.authors 0 }}</a></p>
            <div class="centering">
              <img alt="" style="margin-bottom:5%;max-width:100%" src="{{ .Params.image }}"/>
            </div>
              {{ .Content }}
            </article>
            <p><strong>Tags</strong></p>
            <div class="tags">
              {{ range .Params.tags}}
                <div class="tag"><a href="/tags/{{ . }}">{{ . }}</a></div>
              {{ end }}
            </div>
            <div class="push"></div>
          </div>
          <div class="col-md-3">
            {{ partial "sidebar.html" . }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
{{ partial "footer.html" . }}
