<div class="push"></div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <h5>Site Map</h5>
        <ul>
        <li><a href="/about">About</a></li>
        <hr>
        <li><a href="/">Articles</a></li>
        <hr>
        <li><a href="/authors">Authors</a></li>
        <hr>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>To get in touch, send an email to: editor@perltricks.com</p>
        <p>Follow us:&nbsp;
          <a href="https://twitter.com/intent/follow?screen_name=perltricks">
              <img src="/images/footer/twitter_20_dark.png" alt="twitter"></a>
          <a href="/index.xml" /><img src="/images/footer/rss_20_dark.png" alt="rss"></a>
          <a href="https://github.com/dnmfarrell/perltricks-static/" />
              <img src="/images/header/github_light_20.png" alt="GH"></a></p>
          <p>&copy; <span id="year"></span> PerlTricks.com</p>
      </div>
      <div class="col-md-7">
          <h5>Legal</h5>
          <p>PerlTricks.com and the authors make no representations or warranties with respect to the accuracy or completeness of the contents of all work on this website and specifically disclaim all warranties, including without limitation warranties of fitness for a particular purpose. No warranty may be created or extended. The advice and strategies published on this website may not be suitable for every situation. All work on this website is provided with the understanding that PerlTricks.com and the authors are not engaged in rendering legal, accounting, or other professional services. Neither PerlTricks.com nor the authors shall be liable for damages arising herefrom.</p>
      </div>
    </div>
  </div>
</div>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/perltricks.css"/>
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/prettify.min.js"></script>
<script>document.getElementById("year").innerHTML = (new Date()).getFullYear();prettyPrint();</script>
</body>
</html>
